@import 'vars.less';

/*Спецификации*/
.clearfix:after {
    content: " ";
    display: table;
    width: 100%;
}

body {
    font-family: @font;
}


h2 {
    font-size: 40px;
    font-weight: 700;
}

/*------------------------------------------------------------------------*/


// header
header {
    min-height: 735px;
    background: url('../../img/header_bg.png') no-repeat center center / cover;
    padding-top: 60px;

    .top_line {
        display: flex;
        margin-bottom: 80px;

        .top_line_logo {
            width: 70%;
        }

        .top_line_social {
            width: 30%;
            display: flex;
            align-items: center;

            span {
                margin-left: 20px;

                a {
                    font-size: 20px;
                    font-weight: 400;
                    color: #fff;
                    text-decoration: none;
                }
            }

            .top_line_social_item_1 {
                position: relative;

                &::before {
                    content: "\f111";
                    font: normal normal normal 14px/1 FontAwesome;
                    position: absolute;
                    color: #fff;
                    font-size: 5px;
                    top: 14px;
                    left: -10px;
                }
            }

            .top_line_social_item_2 {
                position: relative;

                &::before {
                    content: "\f111";
                    font: normal normal normal 14px/1 FontAwesome;
                    position: absolute;
                    color: #fff;
                    font-size: 5px;
                    top: 14px;
                    left: -10px;
                }

                &::after {
                    content: "\f111";
                    font: normal normal normal 14px/1 FontAwesome;
                    position: absolute;
                    color: #fff;
                    font-size: 5px;
                    top: 15px;
                    right: -11px;
                }
            }

        }
    }


    .header_content {
        display: flex;

        .header_content_item {
            width: 50%;

            h1 {
                color: @pink;
                font-weight: 700;
                font-size: 92px;
                font-family: @font_decor;
                margin-bottom: 0;
            }

            h3 {
                font-size: 55px;
                font-weight: 700;
                color: #fff;
                // width: 50%;
                margin-bottom: 60px;
            }

            h4 {
                font-size: 18px;
                color: #fff;
            }
        }

        .header_content_item_img {
            margin-top: -20px;
        }
    }
}

// end header



// block_2
.block_2 {
    margin-bottom: 90px;

    .block_2_content {
        .block_item {
            h2 {
                font-size: 32px;
                margin-bottom: 50px;
            }

            .block_2_button {
                display: inline-block;
                border-radius: 30px;
                background: -webkit-linear-gradient(0deg, rgb(70, 60, 225), rgb(160, 118, 249));
                background: -moz-linear-gradient(0deg, rgb(70, 60, 225), rgb(160, 118, 249));
                background: linear-gradient(0deg, rgb(70, 60, 225), rgb(160, 118, 249));
                transition: all 0.3s;
                margin-top: 20px;

                &:hover {
                    transform: translateX(10px);
                    transition: all 0.3s;
                }

                a {
                    padding: 15px 50px;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    font-size: 25px;


                }
            }


        }

        .block_2_item_img {
            margin-top: -5px !important;
        }

        .block_2_item_content {
            padding-top: 40px;
        }
    }
}

// end block_2



// block_3
.block_3 {
    margin-bottom: 90px;
    transition: all 0.5s;

    .block_3_padding {
        padding-left: 90px;
    }

    .block_3_title {
        margin-bottom: 50px;
    }


    .block_3_content {

        p {
            font-size: 18px;
        }

        .block_3_item {
            background-color: #fff;
            width: 30%;
            padding: 30px;
            min-height: 380px;
            padding: 30px;
            cursor: pointer;
            border-radius: 15px;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.22);
            -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.22);
            box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.22);
            margin-bottom: 20px;
            transition: all 0.5s;




            &:hover {
                background: -webkit-linear-gradient(180deg, rgb(175, 129, 254) 35%, rgb(29, 43, 216));
                background: -moz-linear-gradient(180deg, rgb(175, 129, 254) 35%, rgb(29, 43, 216));
                background: linear-gradient(180deg, rgb(175, 129, 254) 35%, rgb(29, 43, 216));
                color: #fff;
            }

            &:hover span.block_3_number_img {
                color: #fff !important;
                transform: translateY(-35px);
                transition: all 0.5s;
            }

            &:hover span.block_3_border_box {
                border: 20px solid #BC96FB;
            }



            .block_3_item_num_text {
                position: relative;
                overflow: hidden;


                .block_3_border_box {
                    display: inline-block;
                    width: 96px;
                    height: 85px;
                    border: 20px solid #EEF1FB;
                }

                .block_3_number_img {
                    position: absolute;
                    left: 6px;
                    bottom: -77px;
                    font-size: 120px;
                    font-weight: 700;
                    color: #8261F1;
                }
            }

            .block_3_item_title {
                margin-top: 30px;

                h3 {
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }

        .block_3_bg {
            .block_3_wrap {
                position: relative;


                img {
                    position: absolute;
                    z-index: -1;
                    bottom: -70px;
                    left: -100px;
                }
            }

        }


    }





}

// end block_3



// block_4
.block_4 {
    margin-bottom: 90px;


    .block_4_title {
        text-align: center;

        h2 {
            margin-bottom: 70px;
        }
    }


    .block_4_content {
        // height: 600px;
        background: -webkit-linear-gradient(90deg, rgb(70, 60, 225), rgb(160, 118, 249));
        background: -moz-linear-gradient(90deg, rgb(70, 60, 225), rgb(160, 118, 249));
        background: linear-gradient(90deg, rgb(70, 60, 225), rgb(160, 118, 249));


        .block_4_item {
            width: 33%;
            min-height: 340px;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            h4 {
                width: 50%;
                font-size: 27px;
                color: #fff;
                text-align: center;
            }

            a {
                width: 60%;
                text-align: center;
                padding: 15px 0;
                border: 3px solid #fff;
                display: inline-block;
                border-radius: 30px;
                text-decoration: none;
                color: #fff;
                font-weight: 700;
                transition: all 0.3s;

                &:hover {
                    transform: translateY(-10px);
                    transition: all 0.3s;
                }
            }
        }

        .block_4_item_1 {
            background: url('../../img/block_4_item_img_1.png') no-repeat center center / cover;
        }

        .block_4_item_2 {
            background: url('../../img/block_4_item_img_2.png') no-repeat center center / cover;
        }

        .block_4_item_3 {
            background: url('../../img/block_4_item_img_3.png') no-repeat center center / cover;
        }

        .block_4_item_4 {
            background: url('../../img/block_4_item_img_4.png') no-repeat center center / cover;
        }

        .block_4_item_5 {
            background: url('../../img/block_4_item_img_5.png') no-repeat center center / cover;
        }

        .block_4_item_6 {
            background: url('../../img/block_4_item_img_6.png') no-repeat center center / cover;
        }
    }
}

// end block_4



// block_5
.block_5 {

    .block_5_title {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        h2 {
            width: 70%;
        }
    }


    .block_5_content {
        display: flex;


        .block_5_item {
            width: 50%;
            overflow: hidden;

            img {
                margin-top: -80px;
            }

            h3 {
                font-size: 32px;
                margin-bottom: 40px;
            }


            .block_5_button {
                display: inline-block;
                border-radius: 30px;
                background: -webkit-linear-gradient(0deg, rgb(70, 60, 225), rgb(160, 118, 249));
                background: -moz-linear-gradient(0deg, rgb(70, 60, 225), rgb(160, 118, 249));
                background: linear-gradient(0deg, rgb(70, 60, 225), rgb(160, 118, 249));
                transition: all 0.3s;
                margin-top: 20px;

                &:hover {
                    transform: translateX(10px);
                    transition: all 0.3s;
                }

                a {
                    padding: 15px 50px;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    font-size: 25px;


                }
            }
        }
    }
}

// end block_5



// block_6
.block_6 {
    margin-bottom: 90px;
    min-height: 300px;


    .block_title {
        text-align: center;
        margin-bottom: 50px;
    }

    .block_6_content {
        background: -webkit-linear-gradient(90deg, rgb(70, 60, 225), rgb(160, 118, 249));
        background: -moz-linear-gradient(90deg, rgb(70, 60, 225), rgb(160, 118, 249));
        background: linear-gradient(90deg, rgb(70, 60, 225), rgb(160, 118, 249));
        padding: 60px 0 70px 0;

        .block_6_item {

            min-height: 125px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            .count_num {
                font-size: 60px;
                color: #fff;
            }


            .count_title {
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                text-align: center;
            }

            .count_title_last {
                width: 70%;
            }


        }
    }


}

// end block_6



// block_7
.block_7 {
    margin-bottom: 90px;

    .block_7_title {
        margin-bottom: 90px;
    }


    .block_7_content_list {
        .block_7__item {
            margin-bottom: 50px;
        }

        .block_7_content_text {
            h3 {
                margin-bottom: 40px;
                font-size: 30px;
                font-weight: 700;
            }
        }


        .block_7_content_insta {
            i {
                color: #8E69F3;
                font-size: 40px;
            }
        }
    }


    .block_7_button_wrap {
        display: flex;
        justify-content: center;

        .block_7_button {
            display: inline-block;
            border-radius: 30px;
            background: -webkit-linear-gradient(0deg, rgb(70, 60, 225), rgb(160, 118, 249));
            background: -moz-linear-gradient(0deg, rgb(70, 60, 225), rgb(160, 118, 249));
            background: linear-gradient(0deg, rgb(70, 60, 225), rgb(160, 118, 249));
            transition: all 0.3s;
            margin-top: 20px;

            &:hover {
                transform: translateY(-10px);
                transition: all 0.3s;
            }

            a {
                padding: 15px 50px;
                display: block;
                color: #fff;
                text-decoration: none;
                font-size: 25px;


            }
        }
    }

}

// end block_7




// footer
footer {
    min-height: 1200px;
    background: -webkit-linear-gradient(90deg, rgb(65, 57, 224) 36%, rgb(161, 119, 249));
    background: -moz-linear-gradient(90deg, rgb(65, 57, 224) 36%, rgb(161, 119, 249));
    background: linear-gradient(90deg, rgb(65, 57, 224) 36%, rgb(161, 119, 249));
    padding: 140px 0;


    .footer_title {
        h2 {
            color: #fff;
        }

        margin-bottom: 120px;
    }


    .footer_logos {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 150px;

        .logos_item {
            width: 16%;
        }
    }


    .callToAction {
        width: 760px;
        margin: 0 auto;

        h3 {
            width: 70%;
            text-align: center;
            margin: 0 auto;
            font-size: 25px;
            color: #fff;
            font-weight: 700;
        }

        p {
            text-align: center;
            margin-top: 30px;

            font-size: 25px;
            color: #fff;
            font-weight: 700;
        }

        .footer_social_list {
            display: flex;
            justify-content: center;
            margin-top: 100px;

            .social_list_icon {
                margin: 0 30px;
            }
        }

        .footer_logo {
            margin-top: 120px;
            text-align: center;
        }


        .footer_arrow_mod {
            position: relative;

            img {
                position: absolute;
                right: -30px;
                bottom: -140px;

            }
        }


    }
}

// footer


// but_up
.but_up {
    position: fixed;
    bottom: 40px;
    right: 50px;
    font-size: 80px;
    cursor: pointer;
    color: #2625C7;
}

// end but_up





// =======================================PORTFOLIO==================================================


// portfolio_block_2
.portfolio_block_2 {
    min-height: 1100px;
    padding-top: 140px;

    .portfolio_block_2_title {
        text-align: center;
        margin-bottom: 90px;

        h2 {
            width: 70%;
            margin: 0 auto;
        }
    }


    .portfolio_block_2_main {
        .portfolio_block_2_img_big {
            position: relative;


            .port_img_big {
                // position: relative;
                z-index: 2;
            }

            .port_img_big_circle {
                position: absolute;
                top: 50px;
                right: -70px;
                z-index: -1;
            }
        }


    }
}

// end portfolio_block_2





// portfolio_block_3
.portfolio_block_3 {
    min-height: 1850px;
    margin-top: -300px;
    padding-top: 334px;

    .portfolio_block_3_list_img {
        display: flex;
        flex-wrap: wrap;

        .portfolio_block_3_item_img_1 {
            width: 50%;
            z-index: 9;
        }

        .portfolio_block_3_item_img_2 {
            width: 60%;
            margin-left: -115px;
            z-index: 2;
            padding-top: 79px;
        }

        .portfolio_block_3_item_img_3 {
            width: 50%;
            margin-top: -249px;
            z-index: 9;
        }

        .portfolio_block_3_item_img_4 {
            width: 55%;
            margin-left: -99px;
            margin-top: 41px;
        }
    }
}

//portfolio_block_3










// Media
@media screen and(max-width: 1260px) {
    .portfolio_block_2 .portfolio_block_2_main .portfolio_block_2_img_big .port_img_big_circle {
        display: none;
    }
}

@media screen and(max-width: 1200px) {
    header .header_content .header_content_item h1 {
        font-size: 83px;
    }

    header .header_content .header_content_item h4 {
        font-size: 17px;
    }

    .block_2 .block_2_content .block_item h2 {
        font-size: 28px;
    }

    .block_3 .block_3_padding {
        padding-left: 0 !important;
    }

    .block_6 .block_6_content .block_6_item .count_num {
        font-size: 53px;
    }

    .block_6 .block_6_content .block_6_item .count_title_last {
        width: 100%;
    }

    .block_6 {
        margin-top: 90px;
    }
}


@media screen and(max-width: 992px) {
    header {
        min-height: auto;
    }

    header .header_content .header_content_item {
        width: 100%;
    }

    header .header_content {
        flex-direction: column;
    }

    header .header_content .header_content_item_img {
        margin-top: 0;
    }

    .block_3 .block_3_content .block_3_item {
        width: 100%;
    }

    .block_4 .block_4_content .block_4_item {
        width: 50%;
    }

    .block_5 .block_5_title h2 {
        font-size: 29px;
        width: 100%;
    }

    .block_5 .block_5_content .block_5_item {
        width: 100%;
    }

    footer .footer_logos {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .footer_logos .logos_item {
        width: 30%;
        margin-bottom: 30px;
    }

    footer .callToAction .footer_arrow_mod img {
        display: none;
    }


    .block_7 .block_7_content_list .block_7_content_text h3 {
        font-size: 26px;
        margin-top: 30px;
    }
    // 

    .portfolio_block_2 .portfolio_block_2_title h2 {
        width: 100%;
    }

    .portfolio_block_3 .portfolio_block_3_list_img .portfolio_block_3_item_img_1
    {
        width: 100%;
    }

    .portfolio_block_3 .portfolio_block_3_list_img .portfolio_block_3_item_img_2
    {
        width: 100%;
    }

    .portfolio_block_3 .portfolio_block_3_list_img .portfolio_block_3_item_img_3
    {
        width: 100%;
    }

    .portfolio_block_3 .portfolio_block_3_list_img .portfolio_block_3_item_img_4
    {
        width: 100%;
    }

    .portfolio_block_3 
    {
        padding-top: 150px;
    }

    .portfolio_block_3 .portfolio_block_3_list_img
    {
        text-align: center;
    }

    .portfolio_block_3 .portfolio_block_3_list_img .portfolio_block_3_item_img_2
    {
        margin-left: 0;
        padding-top: 0px;
    }

    .portfolio_block_3 .portfolio_block_3_list_img .portfolio_block_3_item_img_3
    {
        margin-top: 0;
    }


    .portfolio_block_3 .portfolio_block_3_list_img .portfolio_block_3_item_img_4
    {
        margin-left: 0;
        margin-top: 0;
    }
    // 

    

}

@media screen and(max-width: 768px) {
    header .top_line .top_line_logo {
        width: 58%;
    }

    .block_3 .block_3_content .block_3_bg .block_3_wrap img {
        display: none;
    }

    .block_4 .block_4_content .block_4_item {
        width: 100%;
    }

    footer .footer_logos .logos_item {
        width: 100%;
        margin-bottom: 30px;
        text-align: center;
    }

    footer .footer_logos {
        flex-direction: column;
    }

    footer .footer_title h2 {
        width: 100%;
        text-align: center;
    }

    footer .callToAction {
        width: 100%;
    }


    .portfolio_block_2 .portfolio_block_2_main .portfolio_block_2_img_big .port_img_big_circle {
        display: none;
    }


    
}


@media screen and(max-width: 576px) {


    header .top_line {
        flex-direction: column;
        margin-bottom: 40px;
    }

    header .top_line .top_line_social span {
        margin-left: 0;
    }

    header .top_line .top_line_logo {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
    }

    header .top_line .top_line_social {
        justify-content: space-around;
        width: 100%;
    }

    header .header_content .header_content_item h1 {
        font-size: 50px;
    }

    header .header_content .header_content_item h3 {
        font-size: 40px;
        margin-bottom: 35px;
    }

    .block_4 .block_4_title h2 {
        font-size: 27px;
    }

    .block_3 .block_3_title h2 {
        font-size: 34px;
    }

    .but_up {
        bottom: 25px;
        right: 25px;
        font-size: 50px;
    }

    .portfolio_block_2 .portfolio_block_2_title h2 {
        font-size: 25px;
    }


    // 
    .portfolio_block_2 
    {
        padding-top: 70px;
        min-height: 850px;
    }

    .portfolio_block_3 {
        padding-top: 90px;
        min-height: 1200px;
    }
    // 


    

   


}


@media screen and(max-width: 400px) {
    .block_2 .block_2_content .block_item h2 {
        font-size: 25px;
    }

    .block_2 .block_2_content .block_item .block_2_button a {
        padding: 14px 16px;
        font-size: 23px;
    }

    .block_5 .block_5_title h2 {
        font-size: 21px;
    }

    .block_5 .block_5_content .block_5_item .block_5_button a {
        padding: 15px 31px;
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }

    .block_5 .block_5_content .block_5_item img {
        margin-top: -39px;
    }

    .block_6 .block_title h2 {
        font-size: 27px;
    }

    .block_7 .block_7_title h2 {
        font-size: 32px;
    }

    .block_7 .block_7_content_list .block_7_content_text h3 {
        font-size: 26px;
    }


    .block_7 .block_7_button_wrap .block_7_button a {
        padding: 15px 25px;
        display: block;
        color: #fff;
        text-decoration: none;
        font-size: 17px;
    }

    footer .footer_title h2 {
        font-size: 36px;
    }

    footer .callToAction h3 {
        font-size: 18px;
    }

    footer .callToAction p {
        font-size: 18px;
    }


}