@import 'vars.less';

/*Спецификации*/
.clearfix:after
{
	content: " ";
	display: table;
	width: 100%;
}

body
{
    font-family: @font;
}
/*------------------------------------------------------------------------*/


// header
header
{
    min-height: 735px;
    background: url('../../img/header_bg.png') no-repeat center center / cover;
}
// end header